<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Student Portal</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/profile">Student Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/courses">All Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/enrollments">My Enrollment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/graduation">Graduation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://localhost:8081">Finance Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://localhost:8082">Library</a>
                </li>
            </ul>
            <div class="d-flex">
                <a href="/logout" class="btn btn-outline-primary">Sign Out</a>
            </div>
        </div>
    </div>
</nav>
